@font-face
{
font-family:light;
src:url(../fonts/aa.ttf);
}
@font-face
{
font-family:my;
src:url(../fonts/typo.ttf);
}
@font-face
{
font-family:m;
src:url(../fonts/typola.ttf);
}

.overlay	
{
background-size:cover;
background-position:center;
padding:0px;
background-repeat:no-repeat;
margin:0px;
position:absolute;
height:100%;
width:100%;
}

body
{
background-color:white;
overflow:hidden;
}
h1
{
font-family:helvetica;
font-size:14px;
color:#ddd;
color:#ddd;
}
h4
{
position:absolute;
font-family:helvetica;
font-size:19px;
margin-top:-32px;
top:100%;
left:50%;
margin-left:-190px;
font-family:helvetica;
color:#aaa;
font-size:16px;
}


